.label-wrapper{
    width: 56px;
    height: 20px;
    padding: 2px 12px;
}

.small{
    background-color: #F5F5F5;
    border-radius: 0px 4px 4px 0px;
    color: black;
    font-size: 12px;
}

.price-label{
    margin-top: 22px;
    width: 171px;
    height: 30px;
    background-color: #FF8474;
    color: #F5F5F5;
    border-radius: 8px;
    padding: 5px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}